boto3
botocore
pandas
numpy
langchain
langchain-core
langchain-community
langchain-aws
langsmith
langgraph
unstructured
pypdf
PyPDF2
streamlit_pdf_viewer
chromadb
opensearch-py
duckduckgo-search
yfinance
sec-api
python-dotenv
typing-extensions==4.13.1
grpcio
grpcio-tools
ipywidgets
retrying
sentence-transformers
sphinx==8.1.3
docutils>=0.20,<0.22
Events
fitz
PyMuPDF
frontend
mkl
pydub